name: tauri-build-macos-external
on:
  workflow_call:
    inputs:
      ref:
        required: true
        type: string
        default: 'refs/heads/main'
      new_version:
        required: true
        type: string
        default: ''
      channel:
        required: true
        type: string
        default: 'nightly'
        description: 'The channel to use for this job'
jobs:
  build-macos-external:
    runs-on: macos-latest
    steps:
      - name: Getting the repo
        uses: actions/checkout@v3
        with:
          ref: ${{ inputs.ref }}

      - name: Replace Icons for Beta Build
        if: inputs.channel != 'stable'
        shell: bash
        run: |
          mkdir -p apps/attest-app/src-tauri/icons
          cp .github/scripts/icon-${{ inputs.channel }}.png apps/attest-app/src-tauri/icons/icon.png

      - name: Installing node
        uses: actions/setup-node@v1
        with:
          node-version: 22

      - name: Install jq
        uses: dcarbone/install-jq-action@v2.0.1

      - name: Install ctoml
        run: |
          cargo install ctoml

      - name: Config Yarn
        run: |
          corepack enable
          corepack prepare yarn@4.5.3 --activate
          yarn --version
          yarn config set -H enableImmutableInstalls false

      - name: Build monorepo dependencies
        run: |
          yarn install --frozen-lockfile
          yarn build -- --filter="./packages/*"
        env:
          NODE_OPTIONS: "--max-old-space-size=4196"

      - name: Update app version
        run: |
          echo "Version: ${{ inputs.new_version }}"
          jq --arg version "${{ inputs.new_version }}" '.version = $version | .bundle.createUpdaterArtifacts = false' ./apps/attest-app/src-tauri/tauri.conf.json > /tmp/tauri.conf.json
          mv /tmp/tauri.conf.json ./apps/attest-app/src-tauri/tauri.conf.json
          jq --arg version "${{ inputs.new_version }}" '.version = $version' apps/attest-app/web-app/package.json > /tmp/package.json
          mv /tmp/package.json apps/attest-app/web-app/package.json
          
          # Update tauri plugin versions

          jq --arg version "${{ inputs.new_version }}" '.version = $version' ./apps/attest-app/src-tauri/plugins/tauri-plugin-hardware/package.json > /tmp/package.json
          mv /tmp/package.json ./apps/attest-app/src-tauri/plugins/tauri-plugin-hardware/package.json
          
          echo "---------./apps/attest-app/src-tauri/plugins/tauri-plugin-hardware/package.json---------"
          cat ./apps/attest-app/src-tauri/plugins/tauri-plugin-hardware/package.json

          jq --arg version "${{ inputs.new_version }}" '.version = $version' ./apps/attest-app/src-tauri/plugins/tauri-plugin-llamacpp/package.json > /tmp/package.json
          mv /tmp/package.json ./apps/attest-app/src-tauri/plugins/tauri-plugin-llamacpp/package.json

          echo "---------./apps/attest-app/src-tauri/plugins/tauri-plugin-llamacpp/package.json---------"
          cat ./apps/attest-app/src-tauri/plugins/tauri-plugin-llamacpp/package.json

          ctoml ./apps/attest-app/src-tauri/plugins/tauri-plugin-hardware/Cargo.toml package.version "${{ inputs.new_version }}"
          echo "---------./apps/attest-app/src-tauri/plugins/tauri-plugin-hardware/Cargo.toml---------"
          cat ./apps/attest-app/src-tauri/plugins/tauri-plugin-hardware/Cargo.toml
          
          ctoml ./apps/attest-app/src-tauri/plugins/tauri-plugin-llamacpp/Cargo.toml package.version "${{ inputs.new_version }}"
          echo "---------./apps/attest-app/src-tauri/plugins/tauri-plugin-llamacpp/Cargo.toml---------"
          cat ./apps/attest-app/src-tauri/plugins/tauri-plugin-llamacpp/Cargo.toml

          ctoml ./apps/attest-app/src-tauri/Cargo.toml package.version "${{ inputs.new_version }}"
          echo "---------./apps/attest-app/src-tauri/Cargo.toml---------"
          cat ./apps/attest-app/src-tauri/Cargo.toml
          
          ctoml ./apps/attest-app/src-tauri/Cargo.toml dependencies.tauri.features[] "devtools"
          
          if [ "${{ inputs.channel }}" != "stable" ]; then
            if [[ "${{ inputs.channel }}" == "nightly" ]]; then
              jq '.plugins.updater.endpoints = ["https://apps-nightly.attestai.app/update-check", "https://delta.attestai.app/${{ inputs.channel }}/latest.json"]' ./apps/attest-app/src-tauri/tauri.conf.json > /tmp/tauri.conf.json
            else
              jq '.plugins.updater.endpoints = ["https://delta.attestai.app/${{ inputs.channel }}/latest.json"]' ./apps/attest-app/src-tauri/tauri.conf.json > /tmp/tauri.conf.json
            fi
            mv /tmp/tauri.conf.json ./apps/attest-app/src-tauri/tauri.conf.json
            chmod +x .github/scripts/rename-tauri-app.sh
            .github/scripts/rename-tauri-app.sh ./apps/attest-app/src-tauri/tauri.conf.json ${{ inputs.channel }}
            ctoml ./apps/attest-app/src-tauri/Cargo.toml package.name "AttestAI-${{ inputs.channel }}"
            ctoml ./apps/attest-app/src-tauri/Cargo.toml dependencies.tauri.features[] "devtools"
            chmod +x .github/scripts/rename-workspace.sh
            .github/scripts/rename-workspace.sh ./apps/attest-app/package.json ${{ inputs.channel }}
          fi

      - name: Config Yarn in app
        run: |
          cd apps/attest-app
          corepack enable
          corepack prepare yarn@4.5.3 --activate
          yarn --version
          yarn config set -H enableImmutableInstalls false

      - name: Build app
        run: |
          cd apps/attest-app
          make build
        env:  
          NODE_OPTIONS: "--max-old-space-size=4196"
          APP_PATH: '.'
      
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: attestai-${{ inputs.channel }}-mac-universal-${{ inputs.new_version }}.dmg
          path: |
            ./apps/attest-app/src-tauri/target/universal-apple-darwin/release/bundle/dmg/*.dmg